.bash/db_creds.sh
.bash/hidden.sh
.eclimrc
.tmux/plugins/
.tmux/resurrect/
.vim/autoload/editorconfig.vim
.vim/backups/
.vim/bundle/
.vim/plugin/editorconfig.*
.vim/spell/
.vim/swaps/
.vim/undo/
.vim/.netrwhist
.vim/.vimrc_add_ons
workbench.xmi
