" NOTE you can use :source ~/.ideavimrc to reload!

" Enable vim-surround
set surround

" Turn off the annoying bells in the IDE!
set visualbell
set noerrorbells

" Incremental search
set incsearch

" 3 lines above/below cursor when scrolling
set scrolloff=3

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" Set the leader/localleader
let mapleader = ","

" Make it easy to escape in insert mode
inoremap jj <Esc>

" Make saving same as my shortcut in Vim
nnoremap <Leader>s :w<CR>

" Make 'Y' copy from current location to end of line
nnoremap Y y$

" * will search word under cursor, but won't immediately jump to first match
nnoremap * *N

" These create newlines like o and O but stay in normal mode
nnoremap ]<Space> o<Esc>k
nnoremap [<Space> O<Esc>j

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j

" Go to the last tab
nnoremap <Leader>L 1gtgT

" Reopen a closed tab
nnoremap <Leader>b :action ReopenClosedTab<CR>

" Make closing windows sane
nnoremap <C-w>c :q<CR>
nnoremap <C-w>C :action CloseAllEditors<CR>

" Toggle the blame (Annotations)
nnoremap <Leader>B :action Annotate<CR>

nnoremap <Leader>g :action GotoDeclaration<CR>
nnoremap <Leader>t :action GotoFile<CR>
nnoremap <Leader>c :action GotoClass<CR>
nnoremap <Leader>ns :action GotoSymbol<CR>
nnoremap <Leader>nm :action FileStructurePopup<CR>
nnoremap <Leader>d :action ShowErrorDescription<CR>

" IdeaVim uses 'a' for alt instead of Vim's 'm'

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
" nnoremap gcc :action CommentByLineComment<CR>
