" NOTE you can use :source ~/.ideavimrc to reload!

" Enable vim-surround
set surround

" Turn off the annoying bells in the IDE!
set visualbell
set noerrorbells

" Incremental search
set incsearch

" 3 lines above/below cursor when scrolling
set scrolloff=3

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" Set the leader/localleader
let mapleader = ","

" Make it easy to escape in insert mode
imap jj <Esc>

" Make saving same as my shortcut in Vim
nmap <Leader>s :w<CR>

" Make 'Y' copy from current location to end of line
nmap Y y$

" * will search word under cursor, but won't immediately jump to first match
nmap * *N

" These create newlines like o and O but stay in normal mode
nmap ]<Space> o<Esc>k
nmap [<Space> O<Esc>j

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-k> <C-w>k
nmap <C-j> <C-w>j

" Go to the last tab
nmap <Leader>L 1gtgT

" Reopen a closed tab
nmap <Leader>b :action ReopenClosedTab<CR>

" Make closing windows sane
nmap <C-w>c :q<CR>
nmap <C-w>C :action CloseAllEditors<CR>

" Toggle the blame (Annotations)
nmap <Leader>B :action Annotate<CR>

nmap <Leader>g :action GotoDeclaration<CR>
nmap <Leader>t :action GotoFile<CR>
nmap <Leader>c :action GotoClass<CR>
nmap <Leader>ns :action GotoSymbol<CR>
nmap <Leader>nm :action FileStructurePopup<CR>
nmap <Leader>d :action ShowErrorDescription<CR>

" IdeaVim uses 'a' for alt instead of Vim's 'm'

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
" nmap gcc :action CommentByLineComment<CR>
