snippet cl "console.log()" b
console.log($1);
endsnippet

post_jump "snip.buffer[snip.line] = snip.buffer[snip.line].upper(); snip.cursor.preserve()"
snippet /// "Add a /-based category block (2-space indent)" b
//////////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} ${2:`!p snip.rv = (79 - len(t[1]) - 6) * '/'`}
////////////////////////////////////////////////////////////////////////////
endsnippet

post_jump "snip.buffer[snip.line] = snip.buffer[snip.line].upper(); snip.cursor.preserve()"
snippet //* "Add a /*-based category block (2-space indent)" b
/* ///////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} ${2:`!p snip.rv = (79 - len(t[1]) - 6) * '/'`}
///////////////////////////////////////////////////////////////////////// */
endsnippet

# vim:ft=snippets:
