snippet cl "console.log()" b
console.log($1);
endsnippet

snippet //* "Make a /-based category block" b
/* /////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} ///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////// */
endsnippet
