snippet cl "console.log()" b
console.log($1);
endsnippet

snippet /// "Add a /-based category block (2-space indent)" b
//////////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
endsnippet

snippet //* "Add a /*-based category block (2-space indent)" b
/* ///////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} /////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */
endsnippet

# vim:ft=snippets:
