post_jump "if snip.tabstop == 2: snip.buffer[snip.line] = (snip.buffer[snip.line].upper() + (79 * '/'))[:79]; snip.cursor.preserve()"
post_expand "snip.buffer[snip.line] = snip.buffer[snip.line][:80]; snip.buffer[snip.line + 2] = snip.buffer[snip.line + 2][:78]"
snippet /// "Add a /-based category block" b
////////////////////////////////////////////////////////////////////////////////
// ${1:PUBLIC FUNCTIONS} ${2:`!p snip.rv = (79 - len(t[1]) - 4) * '/'`}
///////////////////////////////////////////////////////////////////////////////
endsnippet

# vim:ft=snippets:
